
body{
    background-color: #222222;
    background-image: linear-gradient(32deg,rgb(252, 214, 2),rgb(228, 54, 205));
    padding:0.3%;
    font-size: 1.1rem;
    font-family: sans-serif;

    color:#e6e1e6;
}

.container-flex{
    display: flex;
    flex-direction: row;
}


nav{
    background-color: #222222;
    overflow: hidden;
    border-radius: 25px;
}

nav a{
    float: left;
    color:#e6e1e6;
    text-align:center;
    padding: .9% 1%;
    text-decoration: none;
    font-size:1.2rem;
}

nav a.active{
    background-color: #6BA0BE;
}





nav a:hover{
    background-color: #BFCBD2;
    color:black;
}

footer{
    padding: 1.5rem;
    margin-top: 1rem;
    background-color: #222222;
    border-radius: 25px;
}

aside{
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .9rem;
    height: 300px;

    background-color: #222222;
}

main{
    /* margin-top:1rem;
    padding: 5rem 16rem; */
    margin: 1.5rem 5rem;
    padding: 2rem 6rem;
    background-color: #222222;  
    flex: 70%;
}

/* Media */
@media only screen and (min-width: 700px){

} 

@media only screen and (max-width: 1000px){
    nav{
        border-radius: 20px;
        margin-bottom: .5rem;
    }
    footer{
        border-radius: 0px;
    }
    .container-flex{
      flex-direction: column;
    }
    main{
        padding: .2rem;
        margin: 0%;
    }
    
}


/* Other */

blockquote{
    padding:.1rem 1rem;
    margin: 0px;

    border: .4rem solid #f0789a;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;

    word-wrap: break-word;
}

pre {
    display: block;
    margin: .8em;
    padding: .5rem;
    background-color: #5f323f;

    border: .4rem solid #f0789a;
    border-radius: 5px;
}

a{
  text-decoration: none;
  color: #f0789a;
}
a:hover{
  text-decoration: underline;
}

strong{
    color: #A398AC;
}
em{ color: #DB9AAC;}
h1{
    color: #E2ACD2;
}

/* More Specific */
section{
  padding: 0.2rem 1rem;
}
img {
  width: 100%;
  height: auto;
}

.card{
    background-color: #5f323f;
    padding: 1.5rem 1rem;
    padding-top: 0rem;
    margin: .6rem;


    border: .4rem solid #f0789a;
    border-radius: 5px;
}

.button{
    /* background-color: #94b8e0; */
    color: #e6e1e6;
    margin: 1rem ;

    border: .2rem solid #94b8e0;
    padding: .6rem 1.2rem;
    
}


.button:hover{
    background-color: #e6e1e6;
    color: #222222;
}